/* Media query for tablet, start here */
@media only screen and (max-width: 768px){
    .hero-text h1 {
        font-size: 38px;
        font-weight: 700;
        font-style: normal;
        line-height: 45px;
    }
    .hero-text p{
        /* Ellipsis for 1 line  */
        /* width: 100%;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        /* ellipsis for 2 lines  */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        
    }
    a.btn {
        margin-bottom: 20px;
    }
    /* blog section media query  */
    .blog-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width: 100%;
        height: auto;
        background-color: transparent;
        margin:0;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
    }



    .view-btn{
        display: block;
        text-align: center;
        
    }
}

/* Media query for tablet, end here */
/* Media query for mobile device, start here */
@media only screen and (max-width: 520px){
    
}
/* Media query for mobile device, end here */