/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;500;600;700&display=swap');

/* Global Style  */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding:50px 0;
}
.d-flex{
    display:flex;
}
.acjc{
    align-items: center;
    justify-content: center;
}
.container{
width: 90%;
margin: 0 auto;
}
a{
    text-decoration: none;
}
a.btn{
    color: white;
    padding: 10px 20px;
    display: inline-block;
    background-color: darkorange;
}
/* Global style end  */

/* Hero section start */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 50px 80px 0 80px;
    border-radius: 30px;
    /* background-image: url('./assets/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right ; */
    

}
.hero-text{
    width: 50%;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    line-height: 70px;
    
}
.hero-text p{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

.hero-text a span{
    margin-right: 10px;
}
.hero-img{
    width: 50%;
    text-align: right;   
}
.hero-img img{
    width: 100%;
}
/* Hero section end */

/* blog section start  */
/* aside fixed sidebar start */
.blog-container{
display: flex;
}
aside{
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 0 10px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
}
aside a{
    display: block;
    color: white;
    border-radius: 10px;
    width: 150px;
    text-align: center;

}

/* aside a:nth-child(1){
    background-color:whitesmoke;
    color: darkorange;
    border: 2px solid darkorange;
}
aside a:nth-child(2){
    background-color:whitesmoke;
    color: darkorange;
    border: 2px solid darkorange;
}
aside a:nth-child(3){
    border: 2px solid darkorange;
} */
/* aside fixed sidebar end */
/* blog style start */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.blog{
    border: 1px solid rgb(190, 188, 188);
    border-radius: 12px;
}
.blog img{
    width: 100%;
}
.blog-bottom{
    margin: 20px;
}
.blog-bottom span{
    border: 1px solid black;
    padding: 3px 10px;
}
.blog-bottom h4{
    margin: 10px 0;
}
.blog-meta{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
.blog-time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.blog-comment{
    display: flex;

    gap: 10px;
}
/* blog style end */
/* blog section end */
/* upcomming matches style start here */
.match{
    padding: 60px 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.flag{
  gap: 30px;
}
.match-time{
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
/* upcomming matches style end here */
.view-btn{
    text-align: center;
    display: none;
}

/* footer style start  */
footer{
    background-color: black;
    color: rgb(206, 201, 201);
    text-align: center;
    padding: 80px;
}
footer hr{
    border: .5px solid rgb(41, 41, 41);
    margin: 30px 0;
}
.footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; 
}
.footer-menu a{
    color: gray;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}
.social-icons a i{
color: gray;
font-size: 30px;

}
/* footer style end  */



